<!DOCTYPE html>
<html lang="ko">
    <head>
        <%include template/head%>
        <link type="text/css" rel="stylesheet" href="/css/mysite.css">
        <link type="text/css" rel="stylesheet" href="/css/modal.css">
        <script src="/js/adjustInsertModal.js"></script>
    </head>
    <header>
        <%if(user){%>
            <%include template/headerlogout%>
        <%}else{%>
            <%include template/headerlogin%>
        <%}%>
        <%include modalinsert%>
        <%include modaladjust%>
        <title>즐겨찾기</title>
    </header>
    <body>
        <div class="jumbotron">
            <h1>즐겨찾기</h1>
            <form method="post" action="/process/createfolder">
                <input type="input" id="folderName" name="folderName" placeholder="Folder Name"/><!--ajaxclient에서 id를 통해 value를 가져옴-->
                <button class="btn btn-primary" id="createfolder">폴더 생성</button>
            </form>
            <form method="post" action="/process/deletefolder">
                <input type="input" id="folderName" name="folderName" placeholder="Folder Name"/><!--ajaxclient에서 id를 통해 value를 가져옴-->
                <button class="btn btn btn-danger" type="submit" id="deletefolder">폴더 삭제</button>
            </form>
            <%if(typeof folders!=='undefined'){
                for(var i=0;i<folders.length;i++){
                    var foldername=folders[i]%>
                    <p><button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#<%=foldername%>" role="button" aria-expanded="false" aria-controls="multiCollapseExample1"><%=foldername%></button>
                    </p>
                    <div class="row">
                        <!--<div class="col">-->
                            <div class="collapse multi-collapse" id="<%=foldername%>">
                                <button class="btn btn-info btn-rounded forinsertmodal" data-toggle="modal" data-target="#insertModalForm" data-folder="<%=foldername%>">사이트 추가</button>
                                <div class="card card-body">
                                    <div class="row">
                                        <%for(var j=0;j<sites.length;j++){
                                            if(sites[j].bmname&&(sites[j].foldername==foldername)){%>
                                                <div class="col-sm-4">
                                                    <div class="card">
                                                        <div class="card-header"><h4 class="card-title"><%=sites[j].bmname%></h4></div>
                                                        <div class="card-body">
                                                            <p class="card-text">여기에 사용자가 작성한 "사이트에 대한 설명"이 들어감</p>
                                                            <div class="btn-group">
                                                                <a href="<%=sites[j].bmurl%>" class="btn btn-primary btn-rounded" id="<%=sites[j].bmurl%>">Enter</a>
                                                                <button data-target="#adjustModalForm" class="btn btn-info btn-rounded foradjustmodal" data-toggle="modal" data-folder="<%=sites[j].foldername%>" data-name="<%=sites[j].bmname%>" data-url="<%=sites[j].bmurl%>" data-image="<%=sites[j].bmimage%>">Adjust</button>
                                                                <form action="/process/del" method="post">
                                                                    <input type="hidden" value="<%=sites[j].foldername%>" name="fname"/>
                                                                    <input type="hidden" value="<%=sites[j].bmname%>" name="sname"/>
                                                                    <button class="btn btn-secondary" type="submit" data-folder="<%=sites[j].foldername%>" data-name="<%=sites[j].bmname%>" data-url="<%=sites[j].bmurl%>" data-image="<%=sites[j].bmimage%>">Del</button><!--현재 폴더 정보 넘겨서 버튼만 누르면 삭제되게 하기.-->
                                                                </form>
                                                            </div>
                                                        </div>
                                                        <img class="card-img-bottom" src="..<%=sites[j].bmimage%>" alt="Card image" style="width:100%">
                                                    </div>
                                                </div>
                                            <%}
                                        }%>
                                    </div>
                                </div>
                            </div>
                        <!--</div>-->
                    </div>     
                <%}
            }%>
        </div>        
        <footer>
            <%include template/footer%>
        </footer>
    </body>
</html>