<!doctype html>
<html lang="ko">
    <head>
        <%include template/head%>
        <link type="text/css" rel="stylesheet" href="/css/mysite.css">
        <link type="text/css" rel="stylesheet" href="/css/modal.css">
        <script src="/js/adjustInsertModal.js"></script><!--During adjusting site's infos are passed to Modal-->
    </head>
    <header>
        <%if(user){%>
            <%include template/headerlogout%>
        <%}else{%>
            <%include template/headerlogin%>
        <%}%>
        <%include modaladjust%>
    </header>
    <body>
        <div class="container">
            <h1>Site info was changed!</h1>
            <h2>폴더명:<%=results.foldername%></h2>
            <div class="row">
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title"><%=results.bmname%></h4>
                            <p class="card-text">여기에 사용자가 작성한 "사이트에 대한 설명"이 들어감</p>
                            <div class="btn-group">
                                <a href="<%=results.bmurl%>" class="btn btn-primary btn-rounded" id="<%=results.bmurl%>">Enter</a>
                                <button data-target="#adjustModalForm" class="btn btn-info btn-rounded foradjustmodal" data-toggle="modal" data-folder="<%=results.foldername%>" data-name="<%=results.bmname%>" data-url="<%=results.bmurl%>" data-image="<%=results.bmimage%>">Adjust</button>
                                <form action="/process/del" method="post">
                                    <input type="hidden" value="<%=results.foldername%>" name="fname"/>
                                    <input type="hidden" value="<%=results.bmname%>" name="sname"/>
                                    <button class="btn btn-secondary" type="submit" data-folder="<%=results.foldername%>" data-name="<%=results.bmname%>" data-url="<%=results.bmurl%>" data-image="<%=results.bmimage%>">Del</button>
                                </form>
                                
                            </div>
                        </div>
                    <img class="card-img-bottom" src="..<%=results.bmimage%>" alt="Card image" style="width:100%">
                    </div>
                </div>
            </div>
            <input type="button" value="Back" onclick="window.history.back()" class="btn btn-danger" style="width:100%"/> 
        </div>
        <footer>
            <%include template/footer%>
        </footer>
    </body>
</html>